.hero {
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);

    .wrapper {
        // border: 1px solid aqua;
        max-width: 1366px;
        height: 100%;
        margin: auto;
        position: relative;
        padding-left: 5%;

        .textContainer {
            // border: 3px solid red;
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;

            h2 {
                font-size: 30px;
                color: rebeccapurple;
                letter-spacing: 10px;
            }

            h1 {
                font-size: 88px;
            }

            .buttons {
                display: flex;
                flex-direction: row;
                width: 50%;
                justify-content: space-between;
                z-index: 1;
                // border: 1px solid red;

                a {
                    // border: 1px solid white;

                    button {
                        padding: 17px;
                        border-radius: 10px;
                        font-weight: 400;
                        border: none;
                        cursor: pointer;
                    }

                    #btn-left {
                        background-color: transparent;
                        color: rebeccapurple;
                        font-weight: 500;
                        border: 1px solid rebeccapurple;

                        &:hover {
                            background-color: rebeccapurple;
                            border: 1px solid rebeccapurple;
                            color: black;
                            font-weight: 500;
                        }
                    }

                    #btn-right {
                        background-color: white;
                        color: #0c0c1d;
                        font-weight: bold;
                    }
                }
            }

            img {
                width: 50px;
            }
        }

        .slidingTextContainer {
            // border: 3px solid red;
            position: absolute;
            font-size: 50vh;
            bottom: -90px;
            white-space: nowrap;
            color: #ffffff09;
            width: 300%;
            font-weight: bold;
            z-index: 0;
        }

        .imageContainer {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            // border: 1px solid aqua;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}